@charset "url-8";

body{
    margin: 30px; 
    font-family: Segoe UI;
    color: #00;
    font-size: 19px;
}

    #doan1{font-size: 19px;
      font-weight: Normal;
      font-family: Segoe UI;
      color: Black;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 0px;
      margin-left: 120px;
     }
#doan2{font-size: 19px;
      font-weight: Normal;
      font-family: Segoe UI;
      color: Black;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 0px;
      margin-left: 120px;
     }
#doan3{font-size: 19px;
      font-weight: Normal;
      font-family: Segoe UI;
      color: Black;
      margin-top: 5px;
      margin-bottom: 500px;
      margin-right: 0px;
      margin-left: 120px;
     }
    #muc1{font-size: 28px;
      font-weight: Normal;
      font-family: Segoe UI;
      color: Black;
      margin-top: 50px;
      margin-bottom: 2px;
      margin-right: 0px;
      margin-left: 100px;
     }
    #muc2{font-size: 28px;
          font-weight: Normal;
          font-family: Segoe UI;
          color: Black;
          margin-top: 2px;
          margin-bottom: 2px;
          margin-right: 0px;
          margin-left: 100px;
         }
    #muc3{font-size: 28px;
          font-weight: Normal;
          font-family: Segoe UI;
          color: Black;
          margin-top: 2px;
          margin-bottom: 2px;
          margin-right: 0px;
          margin-left: 100px;
         }
    #copyright{font-size: 17px;
      font-weight: Normal;
      font-family: Segoe UI;
      color: Black;
      margin-top: 5px;
      margin-bottom: 0px;
      margin-right: 0px;
      margin-left: 0px;
}
